@using Microsoft.AspNet.Identity

<ul class="nav navbar-nav navbar-right font-header">
    <li>@Html.ActionLink("Registrar", "Register", "Cuenta", routeValues: null, htmlAttributes: new { id = "registerLink", @style = "font-size: 15px" })</li>
    <li>@Html.ActionLink("Acceder al sistema", "Login", "Cuenta", routeValues: null, htmlAttributes: new { id = "loginLink", @style = "font-size: 15px" })</li>
</ul>
