<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DB_Server" value="localhost"/>
    <add key="DB_Name" value="oreka"/>
    <add key="DB_User" value="incuser"/>
    <add key="DB_Password" value="1234"/>
    <add key="LocalRepoPath" value="C:\inConcert\Repository\"/>
    <add key="LocalTempPath" value="C:\inConcert\Temp\"/>
  </appSettings>
  <connectionStrings/>
  <system.web>
    <trust level="Full"/>
    <compilation debug="true" targetFramework="4.0"/>
    <authentication mode="Windows"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <httpRuntime maxRequestLength="1048576"/>
    <authorization>
      <allow users="?"/>
    </authorization>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824"/>
      </requestFiltering>
    </security>
    <defaultDocument>
      <files>
        <add value="Login.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>