@model Bonisoft_1.proveedor_mercaderia

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>proveedor_mercaderia</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Modificar", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Volver", "Index")
</p>
